<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TaxCalclulator App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7B62896C1C3C461200A56EC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B6289851C3C461300A56EC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B6289901C3C461300A56EC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
